@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --kelly-green: #7fbc41ff;
    --magenta-dye: #c51b7dff;
    --hunyadi-yellow: #edae49ff;
    --moonstone: #429ea6ff;
    --black-olive: #36382eff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--black-olive);
    overflow-x: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

.main-part {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding-top: 2px;
    min-height: 500px;
}

.container {
    position: relative;
    float: left;
    margin-top: 10px;
}

.column-output {
    width: 340px;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.column-data>div,
.column-params>div {
    padding-top: 20px;
}

span.example {
    background-color: var(--hunyadi-yellow);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}

span.positive {
    background-color: var(--kelly-green);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}

span.negative {
    background-color: var(--magenta-dye);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}