@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    --kelly-green: #7fbc41ff;
    --magenta-dye: #c51b7dff;
    --hunyadi-yellow: #edae49ff;
    --moonstone: #429ea6ff;
    --black-olive: #36382eff;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--black-olive);
    overflow-x: hidden;
}

#app {
    width: 100%;
    height: 100%;
}

.sticky {
    position: sticky;
    top: 5%;
    flex: 1 1 65%;
    width: 65%;
}

.section-container {
    margin-top: 1em;
    transition: background 100ms;
    display: flex;
}

.step {
    height: 80vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

.step-content {
    font-size: 1.2rem;
    background: whitesmoke;
    color: #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background 500ms ease;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    width: 75%;
    margin: auto;
    max-width: 500px;
}

.step.active .step-content {
    background: white;
    color: var(--black-olive);
}

.steps-container,
.sticky {
    height: 100%;
}

.steps-container {
    flex: 1 1 35%;
    z-index: 10;
}

/* Comment out the following line to always make it 'text-on-top' */
@media screen and (max-width: 768px) {
    .section-container {
        flex-direction: column-reverse;
    }

    .sticky {
        width: 95%;
        margin: auto;
    }
}


.hero {
    height: 100vh;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}


span.example {
    background-color: var(--hunyadi-yellow);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}

span.positive {
    background-color: var(--kelly-green);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}

span.negative {
    background-color: var(--magenta-dye);
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 3px;
}